.page{
    height: 100vh;
    position: relative;
}

#intro{
    background-color: #fff;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.text_box{
    font-size: 100px;
    font-family: 'Jua', sans-serif;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.text_h1{
    -webkit-text-stroke: 3px #1c40a0;
}
.main b{
    -webkit-text-stroke: 3px #1c40a0;
    
}
.main b:hover{
    font-size: 100;
    color: #1c40a0;
    transition:cubic-bezier(0.39, 0.575, 0.565, 1) 2s;
    -webkit-text-stroke: 3px #1c40a0;
}
.text_h2{
    font-size: 60px;
    padding-bottom: 15px;
    color:#1c40a0;
    font-family: 'Roboto', sans-serif;
}
#me{
    border: 1px solid black;
}
.about_title{
    display: block;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.about_content {
    border: 1px solid black;
    width: 70%;
    height: 70%;
    margin: 35px auto;
    display: flex;
}
.introduce{
    border: 1px solid black;
    width: calc(100%/2);
    padding: 0 5%;
    text-align: center;
    display: inline-block;
    
}
.picture{
    border: 1px solid black;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 70%;
    margin: 2% auto;
}
.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.me_text{
    height: 40%;
    line-height: 1.5;   
}
.me_text b{
    font-weight: 800;
    font-size: 17px;
}

.skill_box{
    border: 1px solid red;
    width: calc(100%/2);
    display: inline-block;
    vertical-align: top;
}

.skill{
    width: 90%;
    margin: 0 auto 60px;
    display: flex;
    align-items: center;
}
.skill > img{
    width: 60px;
    vertical-align: middle;
    margin-right: 5%;
}
.skill_bar{
    display: inline-block;
    vertical-align: middle;
    width: 79%;
    background-color: rgba(28,64,160,0.1);
    border-radius: 25px;
    height: 23px;
    line-height: 24px;
}
.etc_skill{
    margin:0 auto;
    width: 100%;
    white-space: nowrap;
    align-items: center;
}
.etc_img {
    width: calc(100%/3);
    display: inline-block;
    text-align: center;
}

.etc_img > img{
    width: 45%;
    height: 45%;
    box-shadow: 3px 3px 3px #000;
}

.html .skill_bar .gauge{
    background-color: #E06D3C;
    width: 30%;
}
.python .skill_bar .gauge{
    background-color: #3B81F6;
    width: 40%;
}
.django .skill_bar .gauge{
    background-color: #0B4B33;
    width: 10%;
}
.gauge_span{
    display: inline-block;
    left: 100%;
    height: 100%;
    top: 0;
}
.content_box{
    padding: 0;
}

